# Streamlit
streamlit==1.22.0  # https://streamlit.io/

# Watchdog
watchdog==3.0.0  # https://github.com/gorakhargosh/watchdog

# opencv
opencv-python-headless==4.7.0.72  # https://github.com/opencv/opencv-python

# plots
plotly==5.14.1  # https://plotly.com/python/
matplotlib==3.7.1  # https://matplotlib.org/

# math
scipy==1.11.1  # https://scipy.github.io/devdocs/index.html
